@import "../../../assets/style/utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&family=Sixtyfour&display=swap");
.logo {
  cursor: pointer;
  text-align: center;
  a {
    text-decoration: none;
  }
  .logo-main {
    font-size: $font-size-logo;
    font-weight: 800;
    color: $color-logo;
    font-family: "Sixtyfour", serif;
    font-weight: 400;
    font-style: normal;
  }

  .logo-sub {
    display: block;
    margin-top: -15px;
    font-size: 12px;
    .c {
      color: $color-text-title;
    }
  }
}
