@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/responive";
.header-intro {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #202327;

  z-index: 9999;
  -webkit-box-shadow: 0px 3px 14px -1px rgb(22, 29, 35);
  -moz-box-shadow: 0px 3px 14px -1px rgb(22, 29, 35);
  box-shadow: 0px 5px 10px -1px rgb(22, 29, 35);
  .section-title-home {
    @include mobile {
      font-size: 15px;
      padding: 10px 0;
    }
    font-size: 1rem;
    padding: 15px 0;
    line-height: 24px;
    position: relative;
    display: flow-root;
    margin: 0;
    span {
      background: linear-gradient(to right, #ff8a00, #ff2070);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      font-family: inherit;
    }
  }
}
