@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/responive";
.header-intro {
  background-color: #000;
  box-shadow: rgba(88, 88, 92, 0.25) 0px 50px 100px -20px,
    rgba(114, 112, 112, 0.3) 0px 30px 60px -30px;
  .section-title-home {
    @include mobile {
      font-size: 15px;
      padding: 10px 0;
    }
    font-size: 25px;
    padding: 20px 0;
    line-height: 24px;
    position: relative;
    display: flow-root;
    margin: 0;
    span {
      background: linear-gradient(to right, #ff8a00, #ff2070);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      font-family: inherit;
    }
  }
}
