@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/responive";

.header-sub {
  background-color: $color-header-sub;
  box-shadow: rgba(183, 183, 185, 0.25) 0px 50px 100px -20px,
    rgba(188, 185, 185, 0.3) 0px 30px 60px -30px;
  color: $color-text-main;

  a {
    text-decoration: none;
  }

  .menu {
    display: flex;
    @include mobile {
      display: block;
    }
    @include tablet {
      display: block;
    }

    .nav-item {
      color: $color-text-main;
      font-size: 1.1rem;
      padding: 10px 5px;
      font-weight: 300;
      text-transform: uppercase;
      display: block;
    }
    .nav-item:hover {
      color: #ea8300;
      background: #223344;
    }
    .menu-item {
      position: relative;
      // margin: 10px 0;

      .dropdown-menu {
        display: none;
        position: absolute;
        background: #23527c;
        border: 1px solid #23527c;
        ul.submenu {
          display: grid;
          grid-template-columns: auto auto auto;
          padding: 10px;
          list-style: none;
          .submenu-item {
            padding: 5px 10px;

            a {
              color: $color-text-main;
              text-decoration: none;
              font-size: 15px;
              &:hover {
                color: #4094de;
              }
            }
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }

    .active {
      font-weight: bold;
      color: #ffffff;
      background: #223344;
    }

    .icon {
      margin-left: 5px;
    }
  }
}
