@import "../../../assets/style/utils/variables";
@import "../../../assets/style/utils/responive";

.header-sub {
  background-color: $color-header-sub;
  color: $color-text-main;
  z-index: 9999;
  -webkit-box-shadow: 0px 3px 14px -1px rgb(22, 29, 35);
  -moz-box-shadow: 0px 3px 14px -1px rgb(22, 29, 35);
  box-shadow: 0px 5px 10px -1px rgb(22, 29, 35);
  a {
    text-decoration: none;
  }

  .menu {
    display: flex;
    @include mobile {
      display: block;
    }
    @include tablet {
      display: block;
    }

    .nav-item {
      color: $color-text-main;
      font-size: 1.1rem;
      padding: 10px 5px;
      font-weight: 300;
      text-transform: uppercase;
      display: block;
    }
    .nav-item:hover {
      color: #ea8300;
      background: #223344;
    }
    .menu-item {
      position: relative;
      // margin: 10px 0;

      .dropdown-menu {
        display: none;
        position: absolute;
        background: #23527c;
        border: 1px solid #23527c;
        ul.submenu {
          display: grid;
          grid-template-columns: auto auto auto;
          padding: 10px;
          list-style: none;
          gap: 10px;
          width: 400px;
          .submenu-item {
            padding: 5px 10px;
            margin: 0 10px;
            a {
              color: $color-text-main;
              text-decoration: none;
              font-size: 15px;
              &:hover {
                color: #4094de;
              }
            }
          }
        }
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }

    .active {
      font-weight: bold;
      color: #ffffff;
      background: #223344;
    }

    .icon {
      margin-left: 5px;
    }
  }
}
