$color-background: #111;
$color-secondary-background: #222;
$color-text-primary: #fff;
$color-text-secondary: #aaa;
$color-highlight: #f7931e;
$color-border: #444;
$color-card-background: #1a1a1a;
$color-button-highlight: #2196f3;
