$color-background: #111;
$color-secondary-background: #222;
$color-text-primary: #fff;
$color-text-secondary: #aaa;
$color-highlight: #f7931e;
$color-border: #444;
$color-card-background: #1a1a1a;
$color-button-highlight: #2196f3;

// font-size
$font-size-logo: 2em;

/* Màu sắc chính */
$color-header-main: #020203;
$color-home: #151d25;
$color-logo: #ffffff;
$color-heading-intro: linear-gradient(to right, #ff8a00, #ff2070);
$color-header-sub: #12171b;
$color-text-main: #ffffffb8;
$color-text-secondary: #d0d0d0;
$color-text-title: #ff9800;
$color-text-warning: #fffb00;

// color text heading
$gradient-text: linear-gradient(to right, #ff8a00, #ff2070);
$gradient-clip: text;
$gradient-fill: transparent;
$gradient-decoration: clone;

.text-heading {
  background: $gradient-text;
  -webkit-background-clip: $gradient-clip;
  -webkit-text-fill-color: $gradient-fill;
  -webkit-box-decoration-break: $gradient-decoration;
  box-decoration-break: $gradient-decoration;
}
